@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Poppins;
}
.container{
    animation: slideIn .80s linear;
    right: 0;  
}
.navigation {
    width: 100%;
    height: 5rem;
    display: flex;
    /* animation: slideIn .80s linear;
    right: 0; */
    justify-content: space-between;

}

/* .nav.active {
    display: flex;
    animation: slideIn .3s linear;
    right: 0;
} */

@keyframes slideIn {
    from {

        transform: translateY(100px);
    }

    to {
        transform: translateY(0);

    }
}

/* .navigation::before{
    position: absolute;
    width: 100%;
    height: 5rem;
    background-color: white;
    top: 0;
    animation: slideIn 5s;
}
@keyframes slidein {
0%{

}
    
} */

.nav {
    /* border: 1px solid red; */
    width: 45%;
    display: flex;
    justify-content: space-around;
}
.menu__bar{
    display: none;
}
.list-item {
    font-size: 15px;
    padding-top: 1.5rem;
    list-style: none;


}

.navigation .list-item a {
    text-decoration: 0;
    color: #000;
}

.navigation button {
    padding: .5rem 1rem .3rem;
    background: rgb(8, 8, 216);
    border: 0;
    margin-top: 1.3rem;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 1rem;
    color: blanchedalmond;
    border-radius: 13px;
}

.navigation button a {
    color: white;
    padding-bottom: 1.5rem;
    text-decoration: none;
}

.logo {
    width: 15rem;
    position: relative;
    top: -90px;
    margin-left: 2rem;
}


.img1 {
    width: 5%;
    height: 5%;
    border-radius: 100px;
    margin: -1%;
    /* margin-left: 10px; */
    border: 4px solid rgb(212, 211, 211);
    background: rgb(49, 87, 49);
}

.img2 {
    width: 5%;
    height: 5%;
    margin: -1%;
    /* margin-left: 10px; */
    border-radius: 100px;
    border: 4px solid rgb(212, 211, 211);
    background: rgb(183, 147, 218);
}

.img3 {
    width: 5%;
    height: 5%;
    margin: -1%;
    border-radius: 100px;
    border: 4px solid rgb(212, 211, 211);
    background: rgb(152, 152, 230);
}



.div1 {
    background-image: url(./image/blob\ bg.jpg);
}

.stress {
    padding-top: 8rem;
    font-size: 40px;
    animation: slideIn .80s linear;
    right: 0;
    /* padding-left: 10%; */
    text-align: center;
    gap: 5rem;
}

.user-3 {
    font-size: 40px;
    text-align: center;
    animation: slideIn .80s linear;
    right: 0;
    text-decoration-style: wavy;
}

.wealth-talk {
    padding-top: 1rem;
    text-align: center;
    animation: slideIn .80s linear;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wealth-talk p {
    text-align: center;
    width: 40%;
    font-size: 15px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    color: gray;

}

.wealth-talk button {
    padding: 1rem 1rem 1rem 1rem;
    background: rgb(4, 4, 185);
    border: 0;
    margin-top: 20px;
    font-size: 18px;
    animation: slideIn .80s linear;
    right: 0;
    color: blanchedalmond;
    border-radius: 11px;
}

.wealth-talk button a {
    color: white;
    text-decoration: none;
}




#div2 {
    width: 100%;
    margin-top: 80px;


}

#div2 h2 {
    width: 70%;
    font-size: 30px;
    text-align: center;
    animation: slideIn .80s linear;
    right: 0;
    gap: 1rem;

}

#div2-overview {
    display: flex;
    animation: slideIn .80s linear;
    right: 0;
    justify-content: center;
}

#div2 h2 img {
    height: 40px;
    position: relative;
    top: -20px;
}

.wealth-management-concept-message {
    display: flex;
    margin-top: 100px;
    gap: 25rem;
    justify-content: center;
}

.wealth-management-concept-cont {
    display: flex;
    gap: 3rem;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}


.wealth-management-image1 {
    transform: rotate(30deg);
    height: 80px;
}

.wealth-management-image2 {
    transform: rotate(-40deg);
    height: 80px;
}

.wealth-management-concept-message-1 {
    width: 28%;
    height: 110px;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 60px;
    background-color: rgba(190, 189, 189, 0.384);
}

.wealth-management-concept-message i {
    font-size: 30px;
    padding-top: 5px;
    color: rgba(0, 0, 255, 0.74);

}

.wealth-management-concept-cont i {
    font-size: 30px;
    padding-top: 5px;
    color: rgba(0, 0, 255, 0.74);

}

.wealth-management-concept-message-2 {
    width: 30%;
    height: 110px;
    margin-top: 70px;
    border: 1px solid rgb(95, 95, 95);
    border-radius: 60px;
    background-color: rgba(190, 189, 189, 0.384);
}

.wealth-management-concept-message-3 {
    width: 28%;
    height: 110px;
    border-radius: 60px;
    border: 1px solid rgb(95, 95, 95);
    background-color: rgba(190, 189, 189, 0.384);
}

.wealth-management-concept h4 {
    text-align: center;
    padding-top: 15px;
    font-size: 18px;

}

#div2-overview-2 {
    margin-top: 80px;

}

#div2-overview-2 b {
    color: rgba(174, 43, 226, 0.815);

}


#div2-overview-2 p {
    color: rgba(0, 0, 255, 0.74);
    padding: 8px;
    font-size: 20px;
    border-radius: 5rem;
    border: 1px solid rgba(190, 189, 189, 0.568);
    background: gainsboro;
}

.overview {
    display: flex;
    justify-content: center;
    animation: slideIn .80s linear;
    right: 0;
    gap: 15px;
}

.overview-one {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    animation: slideIn .80s linear;
    right: 0;
    gap: 25px;
}

.overview-two {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    animation: slideIn .80s linear;
    right: 0;
    gap: 25px;
}

#feature {
    border: 1px solid rgba(105, 104, 104, 0.418);
    border-radius: 50px;
    background-color: rgba(225, 235, 245, 0.349);
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideIn .80s linear;
    right: 0;
    align-content: center;
    flex-direction: column;
    margin-top: 100px;
    width: 90%;
    height: 700px;
}

.feature-section {
    background: rgb(4, 4, 185);
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    width: 15rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border-radius: 50px;
    /* clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%); */
    /* transform: rotate(-10deg); */
}


.feature-section-1 {
    display: flex;
    gap: .8rem;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
}

.feature-section-1 p {
    padding-top: 5px;
    font-size: 12px;
    width: 200px;
    /* height: 100px; */
    color: rgba(97, 95, 95, 0.89);
}

.feature-section-2 p {
    padding-top: 5px;
    font-size: 12px;
    width: 300px;
    color: rgba(97, 95, 95, 0.89);
}

.feature-section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    /* paddinleft: 45px; */
    margin-top: 18px;
}

.feature-section-1 h4 {
    font-size: 18px;
    padding-top: 10px;
}

.feature-section-2 h4 {
    font-size: 20px;
    padding-top: 10px;
}

.feature-section-content-1 {
    font-size: 18px;
    margin-top: 35px;
    text-align: center;


}

.feature-section-content-4{
    padding-bottom: 20px;
}

.feature-section-content-1 h4 {
    font-size: 18px;
    padding-left: 3px;
    padding-top: 2px;
}

.feature-section-content-1 img {
    height: 105px;

}

.feature-section-content-2 {

    font-size: 18px;
    margin-top: 35px;
    text-align: center;
    /* border: 1px solid green; */
}

.feature-section-content-3 {
    /* width: 30%; */
    /* margin-left: 1%; */
    font-size: 18px;
    margin-top: 35px;
    text-align: center;
    /* border: 1px solid green; */
}

.feature-section-content-4 {
    /* width: 30%; */
    /* margin-left: 1%; */
    font-size: 18px;
    text-align: center;
    /* border: 1px solid green; */
}

.feature-section-content-5 {
    /* width: 30%; */
    /* margin-left: 1%; */
    font-size: 18px;
    text-align: center;
    /* border: 1px solid green; */
}

.feature-section-content-6 {
    /* width: 30%; */
    /* margin-left: 1%; */
    font-size: 18px;
    text-align: center;
    /* border: 1px solid green; */
}

.feature-section-content-7 {
    /* width: 30%; */
    /* margin-left: 1%; */
    font-size: 18px;
    text-align: center;
    /* border: 1px solid green; */
}



.feature-section-content-2 img {
    height: 80px;
}

.feature-section-content-3 img {
    height: 80px;
}

.feature-section-content-4 img {
    height: 130px;
    margin-bottom: 1px;
}

.feature-section-content-5 img {
    height: 90px;
}

.feature-section-content-6 img {
    height: 90px;
}

.feature-section-content-7 img {
    height: 90px;
    background: none;
}



#testimonial {
    text-align: center;
    padding-top: 50px;
    margin-top: 60px;
    background: rgba(247, 245, 245, 0.575);
}

.testimonial-section {
    /* position: relative; */
    /* width: 100dvh; */
    top: 0px;
    display: flex;
    padding-left: 40px;
    padding-top: 20px;
    width: 100%;
    height: fit-content;
    gap: 5px;
    background: rgba(247, 245, 245, 0.575);
    align-items: center;
    overflow-x: scroll;
}

.testimonial-section::-webkit-scrollbar {
    display: none;
}

.testimonial-section .test {
    animation: slide 5s 1s alternate-reverse infinite;
    /* height: 300px; */
    width: 290px;
    border-radius: 30px;
    background: white;
    height: 200px;
    font-size: 13px;
    padding: 1rem 1rem;
    border: 1px solid rgba(42, 43, 42, 0.363);
}

@keyframes slide {
    to {
        transform: translateX(380px);
    }
}

.testimonial-personel-comment-1{
    padding-top: 25px;
}


.testimonial-personel-comment-3{
    padding-top: 20px;
}

.testimonial-personel-comment-2{
    padding-top: 10px;
}

.testimonial-personel-comment-4{
    padding-top: 15px;
}
.testimonial-section img {
    height: 50px;
    width: 50px;
    /* margin-top: 1rem; */
    border-radius: 50px;
}

/* .testimonial-section .comment {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
} */

.testimonial-section .testx p {
width: 260px;
}


/*  */
.testimonial-section .comment {
    /* padding: 10px 10px; */
    display: flex;
    /* flex-direction: row; */
}

/* testimonial-personel-comment-3  comment */


.testimonial-personel-profile-1 {
    padding: 10px 10px;
}
.testimonial-personel-profile-2 {
    padding: 10px 10px;
}

.testimonial-personel-profile-3 {
    padding: 10px 10px;
}

/* investment */

#investment {
    width: 100%;
    padding-top: 50px;
}

.investment-title h2 {
    text-align: center;

}

.investment-level {
    width: 100%;
    /* height: 300px; */
    display: flex;
    padding-top: 50px;
    text-align: center;
    /* border: 1px solid red; */
    align-content: center;
    gap: 30px;
    justify-content: center;
}

.investment-level-beginner {
    width: 250px;
    height: 250px;
    /* border-radius: 40px; */
    border: 1px solid rgb(0, 0, 0);
}

.investment-level-advance {
    width: 250px;
    height: 250px;
    /* border-radius: 40px; */
    border: 1px solid rgb(0, 0, 0);
}

.investment-level-professional {
    width: 250px;
    height: 250px;
    /* border-radius: 40px; */
    border: 1px solid rgb(0, 0, 0);
}

.investment-level h4 {
    padding-top: 30px;
    font-size: 22px;
    text-align: center;
}

.investment-level p {
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
}

.investment-level button {
    padding: 1rem 1rem;
    margin-top: 20px;
    /* border-radius: 50px; */
    color: white;
    /* align-self: center; */
    background: rgb(4, 4, 185);
    /* font-size: 22px; */
}

.investment-level button a {
    color: white;
    text-decoration: none;
}


/* footer */
footer {
    height: 300px;
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
padding: 1rem 2rem;
    /* border: 1px solid red; */
    color: white;
    background: rgb(13, 141, 226);

}

.top{
   height: 30px;
   width: 30px;
   text-align: center;
   padding-top: 3px;
    cursor: pointer;
    position:fixed;
    bottom: 80px;
    border-radius: 5px;
    /* animation: slideIn .150s linear;
    right: 0; */
    right: 30px;
    background: rgb(19, 115, 240);
    

}
  .top i{
    /* position:static;
    top: 0px; */
    color: black;

}

/* .footer{
    display: flex;
    justify-content: space-around;
} */
/* .footer-section-1{
    width: 600px;
    border: 1px solid red;
} */


/* .footer-section-2{
    width: 600px;
    border: 1px solid red;
} */
.footer-section-1 h4 {
    font-size: 30px;
}


.footer-section-1 p {
    font-size: 18px;
    /* width: 50px; */

}


/* .footer-section-2 {
    width: 50%;
    text-align: left;
} */

.footer-section-1 button {
    margin-top: 2rem;
    padding: 1rem 1rem 1rem;
    background: #000;
    border-radius: 20px;
    font-size: 18px;
    border: 0;
}

.footer-section-1 button a {
    text-decoration: none;
    color: rgb(245, 245, 247);
}


.footer-section-2 h4 {
    font-size: 18px;
    padding-top: 2rem;
}

.footer-section-2 a {
    text-decoration: none;
    color: white;
}



@media (max-width: 767.98px) {

    .navigation {
        background-color: #fff;
    }

    .contact__button {
        display: none;
    }
    .list-item{
        padding-bottom: .5rem;
        padding-left: 20px;
    }

    .nav {
        position: absolute;
        /* height: 20rem; */
        padding: 3rem 1rem;
        top: 5rem;
        background-color: #fff;
        flex-direction: column;
        display: none;
         /* place-items: center; */
        text-align: left;
        box-shadow: 5px 2px 5px rgba(77, 76, 76, 0.788);
        border-radius: 10px;
    }

    .nav.active {
        display: flex;
        animation: slideIn .3s linear;
        right: 0;
    }

    .list-item:hover{
        background: #9b989863;
        border-radius: 30px;
        width: 150px;

    }

    @keyframes slideIn {
        from {

            transform: translateY(100px);
        }

        to {
            transform: translateY(0);

        }
    }

   .menu__bar{
        display: block;
    }
    .stress {
        padding-top: 30px;
        font-size: 16px;
    }

    .img1 {
        width: 5%;
        height: 5%;
        margin: -1%;
    }

    .img2 {
        width: 5%;
        height: 5%;
        margin: -1%;

    }

    @keyframes slide {
        to {
            transform: translateX(-700px);
        }
    }
     

    .img3 {
        width: 5%;
        height: 5%;
        margin: -1%;
    }

    .user-3 {
        font-size: 16px;
    }

    .wealth-talk p {
        width: 90%;
    }

    .wealth-management-concept-message {
        gap: 8rem;
    }

    .wealth-management-concept-message-3 {
        width: 30%;
        height: 80px;
        border-radius: 30px;
    }

    .wealth-management-concept-message-1 {
        width: 30%;
        height: 80px;
        border-radius: 30px;
    }

    .wealth-management-concept-message-2 {
        width: 35%;
        height: 80px;
        border-radius: 30px;
        margin-top: 30px;

        place-items: center;

    }

   

    .wealth-management-concept-cont {
        gap: .5rem;
        padding-top: .1px;
    }

    .wealth-management-image1 {
        /* transform: rotate(40deg); */
        height: 30px;
    }

    .wealth-management-image2 {
        /* transform: rotate(40deg); */
        height: 30px;

    }

    .wealth-management-concept-message i {
        text-align: center;
        font-size: 15px;
    }


    .wealth-management-concept-cont i {
       
        font-size: 15px;

    }

    .wealth-management-concept h4 {
        font-size: 10px;
    }

    #div2 h2 {
        /* width: 23rem; */
        text-align: center;
        font-size: 20px;
        /* margin-left: 1px; */
    }


    #div2-overview-2 p {
        font-size: 12px;
        border-radius: 20px;
    }



    .feature-section-1 {
        flex-direction: column;
        /* justify-content: center; */
    }

    .feature-section-2 {
        flex-direction: column;
        /* justify-content: center; */
    }


    #feature {
        height: fit-content;
        /* border: 1px solid pink; */

    }

    /* #feature h4 {
        font-size: 18px;
    } */

    .feature-section {
        height: 30px;
        width: 150px;
        margin-top: 20px;
        text-align: center;
        font-size: 15px;
    }

    .feature-section-1 p {
        font-size: 12px;
        /* width: 100%; */
        height: 50px;
        align-items: center;
        width: 300px;

    }

    .feature-section-2 p {
        font-size: 10px;
        /* width: 10rem; */
        height: 70px;
        width: 300px;

        text-align: center;
        /* border: 1px solid red; */
    }

    /* .feature-section-content-1 p{
     padding-left: 10px;
    } */

    #feature img {
        /* width: 60px; */
        height: 60px;
    }

    /* .testimonial-section .test{
        width: 1000px;
    } */

    .investment-level {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .investment-level-beginner {
        width: 390px;
    }

    .investment-level-advance {
        width: 390px;
    }

    .investment-level-professional {
        width: 390px;
    }

    .investment-level h4 {
        font-size: 20px;
    }


    .investment-level p {
        font-size: 15px;
    }

    .investment-level button {
        margin-top: 30px;
        /* padding: .5rem .5rem; */
        font-size: 12px;
    }

    footer {
        /* width: 25rem; */
        height: fit-content;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        margin-top: 20px;
        padding: 1rem 2rem;
        /* overflow-x: hidden; */
    }

    /* .footer{
        flex-direction: column;
        height: fit-content;
        width: 22rem;
    
    } */

    .footer-section-1 h4 {
        font-size: 25px;
        /* padding-top: 3rem; */
        /* width: 200px; */
    }


    .footer-section-1 p {
        font-size: 15px;
        /* padding-top: 3rem; */
        width: 300px;
    }

    .footer-section-2 {
        display: flex;
        flex-direction: column;
        margin-top: .5rem;
        gap: .5rem;
        width: 300px;
    }

    .footer-section-1 {
        /* border: 1px solid black; */
        font-size: 15px;
        /* width: 300px; */
    }

    .footer-section-2 p {
        font-size: 15px;
        /* padding-top: .3rem; */
        /* width: 200px; */
    }

    /* .top{
        top: 600%;
    } */

}



@media (min-width: 768px) and (max-width: 991.98px){
    .navigation {
        background-color: #fff;
    }

    .contact__button {
        display: none;
    }

    .menu__bar{
        display: block;
    }
    .list-item{
        padding-bottom: 1rem;
        padding-left: 20px;
    }
    
    .nav {
        
        position: absolute;
        /* height: 20rem; */
        padding: 1rem;
        top: 5rem;
        background-color: #fff;
        flex-direction: column;
        display: none;
        /* place-items: center; */
        text-align: left;
        box-shadow: 5px 2px 5px rgba(77, 76, 76, 0.788);
        border-radius: 10px;
    }
    .list-item:hover{
        background: #9b989863;
        border-radius: 30px;
        width: 150px;
       

    }
    .nav.active {
        display: flex;
        animation: slideIn .3s linear;
        right: 0;
    }

    @keyframes slideIn {
        from {

            transform: translateY(100px);
        }

        to {
            transform: translateY(0);

        }
    }


    .stress {
        padding-top: 50px;
        font-size: 25px;
    }

    .img1 {
        width: 5%;
        height: 5%;
        margin: -1%;
    }

    .img2 {
        width: 5%;
        height: 5%;
        margin: -1%;

    }

    @keyframes slide {
        to {
            transform: translateX(-1090px);
        }
    }


    .img3 {
        width: 5%;
        height: 5%;
        margin: -1%;
    }

    .user-3 {
        font-size: 25px;
    }

    .wealth-talk p {
        width: 80%;
    }


    .wealth-management-concept-message {
        gap: 6rem;
    }

    .wealth-management-concept-message-3 {
        width: 30%;
        height: 80px;
        border-radius: 30px;
    }

    .wealth-management-concept-message-1 {
        width: 30%;
        height: 80px;

        border-radius: 30px;
    }

    .wealth-management-concept-message-2 {
        /* width: 30%; */
        height: 80px;
        border-radius: 30px;
        margin-top: 30px;
    }

    .wealth-management-concept-cont {
        gap: .5rem;
        padding-top: 5px;
    }

    .wealth-management-image1 {
        /* transform: rotate(40deg); */
        height: 40px;
    }

    .wealth-management-image2 {
        /* transform: rotate(40deg); */
        height: 40px;

    }

    .wealth-management-concept-message i {
        text-align: center;
        font-size: 15px;
    }


    .wealth-management-concept-cont i {
        /* margin-left: 50px; */
        /* text-align: center; */
        font-size: 15px;

    }

    .wealth-management-concept h4 {
        font-size: 14px;
    }

    #div2 h2 {
        /* width: 23rem; */
        text-align: center;
        font-size: 28px;
        /* margin-left: 1px; */
    }


    #div2-overview-2 p {
        font-size: 12px;
        border-radius: 20px;
    }

    /* .feature-section-1 img{
        margin-top: 5rem;

    } */

    .feature-section-1 {
        flex-direction: column;
        /* justify-content: center; */
    }

    .feature-section-2 {
        flex-direction: column;
        /* justify-content: center; */
    }

    #feature {
        height: fit-content;
        /* border: 1px solid pink; */

    }

    /* #feature h4 {
        font-size: 18px;
    } */

    .feature-section {
        height: 30px;
        width: 200px;
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
    }

    .feature-section-1 p {
        font-size: 18px;
        width: 95%;
        height: 50px;
        align-items: center;
    }

    .feature-section-2 p {
        font-size: 18px;
        width: 95%;
        height: 70px;

        text-align: center;
        /* border: 1px solid red; */
    }

    #feature img {
        /* width: 60px; */
        height: 60px;
    }


    footer {
        /* width: 25rem; */
        height: fit-content;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        margin-top: 20px;
        padding: 1rem 2rem;
    }

    .footer{
        flex-direction: column;
    }

    .footer-section-1 h4 {
        font-size: 25px;
        /* padding-top: 3rem; */
        /* width: 200px; */
    }

    .footer-section-2 h4 {
        font-size: 25px;
        /* padding-top: 3rem; */
        /* width: 200px; */
    }

    .footer-section-2 {
        display: flex;
        flex-direction: column;
        margin-top: .5rem;
        gap: .5rem;
    }

    .footer-section-1 {
        /* border: 1px solid black; */
        font-size: 15px;
        /* width: 300px; */
    }

    .footer-section-2 p {
        font-size: 15px;
        /* padding-top: .3rem; */
        /* width: 200px; */
    }


    /* .top{
        position: ;
        top: 50%;
    } */


}